@charset "utf-8";
/* CSS Document */

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 700px;
}

/* HEADER SECTION */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
  
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: #7A26C1;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;
}


/* LOGIN STYLE */


/* SEARCH PAGE STYLES */

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.search {
  width: 87%;
  padding: 1rem;
  border-radius: 10px;
  border: solid #7A26C1 2px;
}

.item-head {
  color: #7A26C1;
}

.card img {
  border-radius: 2.5%;
}

/* BOOKING PAGE STYLES */

#booking {
  display: none;
}

.booking-form-heading {
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-container label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: black;
}

.input-container input, select {
  padding: 1rem;
  border: solid #7A26C1 2px;
  border-radius: 10px;
  color: black;
}

option {
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  color: black;
}

.booking-form-submit {
  width: 100%;
  border: none;
  background-color: #7A26C1;
  color: white;
  padding: 1rem 0;
  border-radius: 10px;
}


/* BOOKING CONFIRMATION PAGE STYLES */

#bookingConfirm {
  display: none;
  position: relative;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  border: solid #7A26C1 2px;
  border-radius: 10px;
}

.confirm-icon {
  margin-bottom: 1rem;
}

.confirm-title {
  color: black;
  margin-bottom: 0.5rem;
}

.confirm-tag {
  color: black;
  margin-bottom: 2rem;
}


/*ACCOUNT PAGE STYLES*/

.account-form-heading {
  margin-bottom: 1rem;
}

.account-form-submit {
  width: 100%;
  border: none;
  background-color: #7A26C1;
  color: white;
  padding: 1rem 0;
  border-radius: 10px;
}